<!DOCTYPE html>
<html>
  <head>
    <title>FacebookClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%if current_user%>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
       <div class="navbar-header">
         <a class="navbar-brand" href="#">WebSiteName</a>
       </div>
       <ul class="nav navbar-nav">
         <li class="active"><a href="#">Home</a></li>
         <li><a href="#">Friends</a></li>
         <li><a href="#">Timeline</a></li>
         <li><%= link_to "Log out", destroy_user_session_path, method: :DELETE %></li>
       </ul>
     </div>
    </nav>
    <%end%>
    <%flash.each do |k,v|%>
      <div class = "alert alert-<%k%>">
        <%= v %>
      </div>
      <%end%>
    <%= yield %>
  </body>
</html>
